/*
Name: Rachel Winfield-Ward
Student Number: 8761871
*/

body{
    width: 75vw;
    max-width: 900px;
    font: 1.2rem "Fira Sans", serif;
    padding: 1em;
}
.structural{
    border: 4px solid rgb(72, 112, 214);
    border-radius: 20px;
    display: flex;
    padding: 1em;
    margin: 2em;

}
h1{
   color: rgb(54, 48, 124);
   font-variant: small-caps;
}
h2{
    color: black;
    font-variant: small-caps;
}
footer p{
    font-size: 1rem;
    color: rgb(115, 162, 255);
    clear: both;
}
main{
  float: left;
  clear: both;
  width: 45rem;
  height: 160vh;
}
aside{
   float: right;
   clear: right;
   width: 5vw;
   height: 160vh;
}
.mainimg{
    border: 4px solid rgb(33, 32, 83);
}
figcaption{
    font-style: bold;
    font-variant: small-caps;
}
q{
    font-family: cursive;
    font-style: italic;
    font-size: larger;
}
ul li{
    list-style-type: none;
}
li>a{
    text-decoration: none;
    color: green;
}
a:hover{
    color: blueviolet;
}